{"filter":false,"title":"config.xml","tooltip":"/client/config.xml","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":114,"mode":"ace/mode/xml"}},"timestamp":1397552675000,"hash":"2ad69cd396d21dae85c79f784c8b36a280c6bd36"}